*{
    margin: 0;
    padding: 0;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

div.body{
    width: 436px;
    height: 773px;
    background-color: rgb(250,250,250);
    overflow-y:scroll;
}
::-webkit-scrollbar{
    width: 0;
}




/* 固定头部 */
.header{
    width: 436px;
    height: 113px;
    position: fixed;
    background-color: white;
    z-index: 500;
}
.headercopy{
    width: 436px;
    height: 113px;
    position: relative;
}
.recommend{
    width: 436px;
    height: 57px;
    background-color: white;
}
.recommend>svg.icon{
    font-size: 30px;
    height: 57px;
    padding-left: 25px;
    float: left;
    padding-right: 5px;
}
.recommend>div{
    float: left;
}
.recommend>div>div:nth-child(1){
    font-size: 20px;
}
.recommend>div>div:nth-child(2){
    font-size: 15px;
    color: rgb(153,165,194);
}
.recommend>div:nth-child(3){
    line-height: 30px;
    border: 1px solid rgb(153,165,194);
    border-radius: 20px;
    height: 30px;
    width: 100px;
    color: rgb(153,165,194);
    text-align: center;
    margin-top: 15px;
    float: right;
}

.headerTwo{
    width: 436px;
    height: 56px;
}
.headerTwo>div{
    width: 218px;
    height: 57px;
    float: left;
    text-align: center;
    line-height: 57px;
    font-size: 20px;
    color: rgb(153,165,194);
    
}
.headerTwo>div>span{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.headerTwo>div:nth-child(1)>span{
    color: greenyellow;
    border-bottom: 2px solid greenyellow;
}



/* 搜索框 */
.search{
    width: 436px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search>input{
    height: 37px;
    width: 395px;
    border-radius: 20px;
    border: 0;
    outline:none;
    font-size: 15px;
    padding-left: 10px;
    color: rgb(153,165,194);
    text-align: center;
}



/* 歌单和专区 */
.songlist{
    position: relative;
    width: 396px;
    height: 246px;
    padding-left: 20px;
    margin-right: 20px;
    z-index: 100;
    background-color: rgb(250,250,250);
}
.zone{
    position: relative;
    width: 396px;
    height: 268px;
    padding-left: 20px;
    margin-right: 20px;
    z-index: 100;
    background-color: rgb(250,250,250);
}
.title{
    width: 396px;
    height: 40px;
}
.title>span:nth-child(1){
    font-size: 20px;
    font-weight: 900;
}
.title>span:nth-child(2){
    float: right;
    color: rgb(153,165,194);
}
.songlist>.image{
    width: 396px;
    height: 125px;
    overflow-x:scroll;
    white-space: nowrap;
}
.zone>.image{
    width: 396px;
    height: 125px;
    overflow-x:scroll;
    white-space: nowrap;
}

img{
    width: 125px;
    height: 125px;
    margin-right: 10px;
}
.zone>.image>img{
    width: 260px;
    height: 125px;
    margin-right: 10px;
}

/* 版权和底部 */
.copyright{
    width: 436px;
    height: 117px;
    text-align: center;
    padding-bottom: 16px;
    background-color: rgb(250,250,250);
}
.copyright>svg.icon{
    font-size: 25px;
}
.copyright>span{
    font-size: 20px;
    line-height: 30px;
}

.bottom{
    width: 436px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgb(250,250,250);
}
.bottom>div{
    background-color: rgb(250,250,250);
    border-radius: 20px;
    padding: 10px;
}