@font-face {
  font-family: "iconfont-b"; /* Project id 3187217 */
  src: url('iconfont.woff2?t=1645002764929') format('woff2'),
       url('iconfont.woff?t=1645002764929') format('woff'),
       url('iconfont.ttf?t=1645002764929') format('truetype');
}

.iconfont-b {
  font-family: "iconfont-b" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e651";
}

