@font-face {
  font-family: "iconfont-c"; /* Project id 3193405 */
  src: url('iconfont.woff2?t=1645338566349') format('woff2'),
       url('iconfont.woff?t=1645338566349') format('woff'),
       url('iconfont.ttf?t=1645338566349') format('truetype');
}

.iconfont-c {
  font-family: "iconfont-c" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e69a";
}

.icon-share:before {
  content: "\e6fb";
}

.icon-icon-xian-:before {
  content: "\e609";
}

.icon-jiahao:before {
  content: "\eaf3";
}

